body {
  
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #0c2a3e;
  color: white;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  body {
    max-height: 400px;
  }
}


p {
  padding-right: 5px;
}

a {
  color: #5ec2ff;
}

.page{
  padding: 20px 20px 20px 5px;
  display: none; /* toggle this on and off with JS */
  margin-top: 28px; /* for the header */
  margin-bottom: 50px; /* for the footer */
}

.border-div {
  border: 1px solid #55748a;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

button {
  background-color: #003459;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px;
  font-size: 115%;
  border: 1px solid #55748a;
  border-radius: 10px;
}

button#playLiveStream {
  font-size: 150%;
  padding: 20px;
}


/* ----- TOP NAVIGATION -------- */

 /* Style the navigation menu */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -5px 25px #000;
  background-color: #003459;
}

#topnav-img {
  height: 40px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

.navLink {
  border-top: 1px solid #55748a;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: 120%;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #003459;
  border: 1px solid #55748a;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/* Add a grey background color on mouse-over 
.topnav a:hover {
  background-color: #ddd;
  color: black;
}*/

/* Style the active link (or home/logo) */
.active {
  background-color: #1e4866;
  color: white;
} 

/* -------- FOOTER AUDIO PLAYER ----------- */
#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
#player {
   display: inline-flex;
   width: 100%;
   background-color: #1e4866;
   color: white;
   font-size: 110%;
   box-shadow: 0 5px 25px #000;
}
#playButton, #pauseButton {
   background-color: #003459;
   border: 1px solid #55748a;
   border-radius: 10px;
   padding: 10px;
   margin: 10px;
  cursor: pointer;
   /*width: 50px;*/
}
#player-wrapper {
  margin: 20px;
}
#player-inner {
}
#loadingDiv {   
   display: none;
   width: 100%;
   padding: 10px;
   background-color: #ffc82d;
   color: black;
}

/* -------- ON DEMAND PAGE -----------*/
.programRows {
}

.programRow {
  padding: 10px;
  margin: 0;
  margin-top: -1px;
  border: 1px solid #55748a;
}
.evenProgramRow {
  background-color: #0a1b26;
}
.oddProgramRow {
}
.programRow:first-child {
    border-radius: 15px 15px 0 0;
}
.programRow:last-child {
    border-radius: 0 0 15px 15px;
}

.recordingRow {
  padding: 10px;
  margin: 0;
  margin-top: -1px;
  border: 1px solid #55748a;
}
.oddRecordingRow {
}
.evenRecordingRow {
  background-color: #0a1b26;
}
.recordingRow:first-child {
    border-radius: 15px 15px 0 0;
}
.recordingRow:last-child {
    border-radius: 0 0 15px 15px;
}

/* -------- alerts -----------*/
.AlertBar {
  margin-top: 8px;
  background-color: rgb(247, 137, 137, 0.5);
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;  
  margin-bottom: 12px;
}

.AlertBar-message {   
  text-align: left;
  width: 100%;
  padding: 8px 32px 8px 8px;
  display: block;
  position: relative;
  text-decoration: none;
  margin: 0;
  border: 0;
}

.AlertBar a {
  text-decoration: underline;
}

