<?xml version='1.0' encoding='utf-8'?>
<widget id="net.audioreader.mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AudioReader</name>
    <description>Audio-Reader Network of Kansas's official mobile app. Listen to the live stream, play on-demand, and more.</description>
    <author email="dmantyla@ku.edu" href="https://reader.ku.edu">
        Danny Mantyla, Audio-Reader
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="ios">
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
    </platform>

    <!--
     - attempting to whitelist the json and xml feeds. 
     - see 'Other Notes' in https://cordova.apache.org/docs/en/latest/guide/appdev/allowlist/index.html
     -->
    <access origin='*' allows-arbitrary-loads-for-media='true' allows-arbitrary-loads-in-web-content='true' allows-local-networking='true' />
    <access origin='https://audio-reader.kansaspublicradio.org' minimum-tls-version='TLSv1.1' requires-forward-secrecy='false' requires-certificate-transparency='false' />
    

    <!--<resource-file src="res/values/strings.xml" target="/app/src/main/res/values/strings.xml" />-->

    <!--
        I C O N S 
    -->
    
    <icon src="res/icon-57.png" width="57" height="57" density="mdpi" />

    <platform name="android">
      <resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />

      <icon monochrome="res/icon/android/ldpi-monochrome.png" background="@color/background" density="ldpi" foreground="res/icon/android/ldpi-foreground.png" />
      <icon monochrome="res/icon/android/mdpi-monochrome.png" background="@color/background" density="mdpi" foreground="res/icon/android/mdpi-foreground.png" />
      <icon monochrome="res/icon/android/hdpi-monochrome.png" background="@color/background" density="hdpi" foreground="res/icon/android/hdpi-foreground.png" />
      <icon monochrome="res/icon/android/xhdpi-monochrome.png" background="@color/background" density="xhdpi" foreground="res/icon/android/xhdpi-foreground.png" />
      <icon monochrome="res/icon/android/xxhdpi-monochrome.png" background="@color/background" density="xxhdpi" foreground="res/icon/android/xxhdpi-foreground.png" />
      <icon monochrome="res/icon/android/xxxhdpi-monochrome.png" background="@color/background" density="xxxhdpi" foreground="res/icon/android/xxxhdpi-foreground.png" />
    </platform>


    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/icon/ios/icon.png" width="57" height="57" />
        <icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iPad Pro -->
        <icon src="res/icon/ios/icon-167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/icon/ios/icon-Small-40.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-Small-40@2x.png" width="80" height="80" />
        <icon src="res/icon/ios/icon-Small-40@3x.png" width="120" height="120" />
        <!-- iTunes Marketing Image -->
        <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024" />
    </platform>

    <!--
         S P L A S H   S C R E E N
    -->
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splashscreen.xml" />
    </platform>






</widget>
