<?xml version='1.0' encoding='utf-8'?>
<widget id="net.audioreader.mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AudioReader Mobile App</name>
    <description>Audio-Reader Network of Kansas's official mobile app. Listen to the live stream, play on-demand, and more.</description>
    <author email="dmantyla@ku.edu" href="https://reader.ku.edu">
        Danny Mantyla, Audio-Reader
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="ios">
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
    </platform>
</widget>
